extends ../layouts/default

block variables
    - const title = "New Page"
    - const description = "Flexible web interface development"
    - const keywords = "HTML, CSS, JavaScript, Frontend"

block content

block scripts
    script(src="js/pageB.js")
    script(src="js/vendor.js")
