.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-facebook {
    font-size:(16/10)*1rem;
    width:(8/16)*1em;
}

.icon-instagram {
    font-size:(16/10)*1rem;
    width:(16/16)*1em;
}

.icon-pinterest {
    font-size:(16/10)*1rem;
    width:(12/16)*1em;
}

.icon-twitter {
    font-size:(12/10)*1rem;
    width:(16/12)*1em;
}

