block variables

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="description" content=description)
        meta(name="keywords" content=keywords)
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block scripts
        link(rel="stylesheet" href="/css/main.css")
        title #{title}
    body
        block content
