+social-buttons(
    "footer",
    {
        iconName: "facebook",
        iconHref: "#"
    },
    {
        iconName: "instagram",
        iconHref: "#"
    },
    {
        iconName: "pinterest",
        iconHref: "#"
    },
    {
        iconName: "twitter",
        iconHref: "#"
    }
)
